db.sqlite3
env/
# Python
*.pyc
__pycache__/
*.pyo

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual environment
venv/
.env

# Logs and databases
*.log

# Local settings
settings_local.py

# Secret key
*.key

# Media and static files
media/
staticfiles/

# Compiled Python
*.py[cod]

# Django migrations
**/migrations/

# Database files
*.sqlite3

*.swp

# Compiled executables
*.exe
*.dll
*.so
*.pyd

# Compiled libraries
*.lib
*.a

# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.dylib

# Compiled archives
*.zip
*.tar
*.gz

/api/migxx/
